@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* Global Rules */

* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html,
body,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

h2 {
    margin: 0;
    /* text-align: center; */
    font-weight: normal;
    font-size: 50px;
    color: #0264FB;
}

p {
    margin: 0;
    padding: 50px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

section {
    width: 100%;
    height: 100vh;
}

.cod-btn {
    border-radius: 35px 0 35px 0;
    background: #2DE114;
    padding: 10px 30px;
}

.cod-team-alt {
    display: block;
    background: url(Imagenes/Woman.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.cod-team {
    display: block;
    background: url(Imagenes/Man.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


/* Grid System*/

.cod-container {
    width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cod-row {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.cod-col-12 {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cod-col-6 {
    width: 50%;
    display: flex;
    justify-content: center;
}


/* Navbar Rules */

nav {
    z-index: 1020;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 40px;
    width: 100%;
    padding: 50px 120px;
    color: white;
    background: #1568ED;
}

.nav-brand {
    height: 40px;
    width: 169px;
    background-image: url(/Imagenes/codellege-logo-green.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


/* Header Rules */

.cod-bg-blue {
    background: url(/Imagenes/haeder_home_desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.cod-bg-blue h1 {
    margin-left: 5%;
    font-size: 80px;
    font-weight: normal;
}

.cod-bg-blue h1 span {
    display: block;
    height: 120px;
}

.cod-bg-blue h1 span::before {
    content: '';
    font-size: 100px;
    font-weight: 500;
    animation: textAnimation 7s infinite linear 0s;
}


/* Main Section */

.codellege-main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cod-brand-logo {
    height: 200px;
    background: url(Imagenes/ColorBrand.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cod-porpouse {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.cod-porpouse::before {
    z-index: 2;
    height: 500px;
    content: '';
    background: url(Imagenes/Proposito.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 0;
}

.cod-pronunciation {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.cod-pronunciation::before {
    z-index: 2;
    position: relative;
    height: 500px;
    content: '';
    background: url(Imagenes/Pronunciation.svg);
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: center 0;
}

.cod-porpouse .cod-node-header {
    z-index: 2;
    position: absolute;
    bottom: 317px;
    right: 81px;
    width: 199px;
    height: 62px;
    padding: 0 40px;
    border-radius: 60px 40px 40px 0;
    box-shadow: 0 0 20px 1px #00000013;
    display: flex;
    justify-content: left;
    align-items: center;
}

.cod-porpouse .cod-node-text {
    position: absolute;
    z-index: 1;
    bottom: 98px;
    right: 81px;
    width: 199px;
    height: 200px;
    padding: 0 40px;
    padding-top: 80px;
    border-radius: 60px 40px 40px 0;
    background: #0264FB;
    color: white;
    box-shadow: 0 0 20px 1px #00000013;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cod-pronunciation .cod-node-header {
    z-index: 2;
    position: absolute;
    bottom: 313px;
    left: 217px;
    width: 220px;
    height: 66px;
    padding: 0 40px;
    border-radius: 40px 60px 0 40px;
    box-shadow: 0 0 20px 1px #00000013;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cod-pronunciation .cod-node-text {
    position: absolute;
    z-index: 1;
    bottom: 98px;
    right: 203px;
    width: 220px;
    height: 200px;
    padding: 0 40px;
    padding-top: 80px;
    border-radius: 40px 60px 0 40px;
    background: #0264FB;
    color: white;
    box-shadow: 0 0 20px 1px #00000013;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cod-node-text h3 {
    font-size: 22px;
    font-weight: 600
}

.cod-node-text p {
    font-size: 18px;
    font-weight: 400;
}

.cod-node-text p span {
    font-size: 25px;
    line-height: 60px;
    font-weight: 600;
}


/* Teams Grid */

.cod-slider-wrapper {
    position: relative;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.cod-slide {
    position: absolute;
    display: grid;
    width: 300%;
    height: 400px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    animation: TeamSlider 15s infinite;
}

.cod-user {
    display: flex;
}

.cod-user ul {
    padding-left: 20px;
    text-align: left;
}

.cod-user ul li:nth-child(1) {
    font-weight: 600;
}

.codellege-program {
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.cod-program-icon {
    background-image: url(Imagenes/SaturnBook.jpeg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    transform: translateY(50%);
    border-radius: 50%;
    display: block;
    height: 160px;
    width: 160px;
}

.codellege-program .cod-col-6:nth-child(1) {
    justify-content: flex-end;
}

.codellege-program .cod-col-6:nth-child(2) {
    justify-content: flex-start;
}

.codellege-program .cod-col-6:nth-child(2) .cod-program-icon {
    background-image: url(Imagenes/PersonCodellege.jpeg);
}

.cod-card {
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    padding: 50px;
    background: #7f8081;
    color: white;
    height: 290px;
}

.card-info p {
    margin: 0;
    padding: 10px;
}

.card-info h4 {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: normal;
}

.cod-card a {
    height: 56px;
    width: 100%;
    line-height: 56px;
    background: #ffffff;
    box-shadow: 0 0 20px 0 #0000002c;
}

#equipo {
    width: 100%;
    box-sizing: border-box;
    padding: 20% 10%;
}

#equipo h2 {
    text-align: center;
}

#aliados {
    width: 100vw;
    height: 1080px;
    background: url(./Imagenes/aliadosimg.jpeg);
    background-size: 100% 100%;
    position: relative;
    /* display: flex; */
}

#aliados .txtAliados {
    width: 100%;
    height: 10vh;
    color: white;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
}

#aliados .imgAliados {
    width: 100%;
    height: 1014.31px;
    position: relative;
}

.cajaSofttek {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 9%;
}

.cajaSofttek .borderSofftek {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to left, blue, green, transparent);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaSofttek .borderSofftek .FondoImgSofftek {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-repeat: no-repeat; */
}

.cajaSofttek .borderSofftek .FondoImgSofftek .imgSofftek {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: url(./Imagenes/aliadosSofttek.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
}

.cajaUaa {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 54%;
    left: 32%;
}

.cajaUaa .borderUaa {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to left, blue, green, transparent);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaUaa .borderUaa .FondoImgUaa {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-repeat: no-repeat; */
}

.cajaUaa .borderUaa .FondoImgUaa .imgUaa {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: url(./Imagenes/aliadosUAA.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 22%;
}

.cajaHp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46%;
    left: 53%;
}

.cajaHp .borderHp {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to left, blue, green, transparent);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaHp .borderHp .FondoImgHp {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-repeat: no-repeat; */
}

.cajaHp .borderHp .FondoImgHp {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-repeat: no-repeat; */
}

.cajaHp .borderHp .FondoImgHp .imgHp {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: url(./Imagenes/aliadosHP.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
}

.cajaPolitec {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 54%;
    left: 68%;
}

.cajaPolitec .borderPolitec {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to left, blue, green, transparent);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaPolitec .borderPolitec .FondoImgPolitec {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-repeat: no-repeat; */
}

.cajaPolitec .borderPolitec .FondoImgPolitec {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-repeat: no-repeat; */
}

.cajaPolitec .borderPolitec .FondoImgPolitec .imgPolitec {
    width: 90%;
    height: 90%;
    /* border-radius: 50%; */
    background: url(./Imagenes/preparatoria_PNG.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
}

#colaborar {
    width: 100%;
    height: 100vh;
    position: relative;
}

#colaborar .txtColaborar {
    width: 100%;
    height: 10vh;
    color: black;
    position: absolute;
    top: 5%;
    color: rgb(32, 81, 245);
    font-size: 25px;
    display: flex;
    justify-content: center;
}

#colaborar .contenido {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido .inclucion {
    width: 220px;
    height: 275px;
    background: rgb(32, 81, 245);
    margin-left: 2%;
    box-sizing: border-box;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.contenido .inclucion h2 {
    text-align: center;
    font-size: 25px;
    position: absolute;
    box-sizing: border-box;
    top: 20%;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10%;
}

.contenido .inclucion p {
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 25%;
}

.inclucion .imgInclusion {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(./Imagenes/colaborar_inclusion.svg);
    background-size: contain;
    position: absolute;
    top: -20%;
}

.contenido .donacion {
    width: 220px;
    height: 275px;
    background: rgb(32, 81, 245);
    margin-left: 2%;
    box-sizing: border-box;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.donacion .imgDonacion {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    background: url(./Imagenes/colaborar_donacion.svg);
    background-size: contain;
}

.contenido .donacion h2 {
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 20%;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10%;
}

.contenido .donacion p {
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 25%;
}

.contenido .replica {
    width: 220px;
    height: 275px;
    background: rgb(32, 81, 245);
    margin-left: 2%;
    box-sizing: border-box;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.replica .imgReplica {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    background: url(./Imagenes/colaborar_replicar.svg);
    background-size: 100% 100%;
}

.contenido .replica h2 {
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 20%;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10%;
}

.contenido .replica p {
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 25%;
}

.contenido .mentoreo {
    width: 220px;
    height: 275px;
    background: rgb(32, 81, 245);
    margin-left: 2%;
    box-sizing: border-box;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 2%;
}

.contenido .mentoreo h2 {
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 20%;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10%;
}

.contenido .mentoreo p {
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 25%;
}

.mentoreo .imgMentoreo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    background: url(./Imagenes/colaborar_mentoreo.svg);
    background-size: 100% 100%;
}
/* Footer */
footer {
    width: 100%;
    height: 100vh;
    background: url(./Imagenes/imgFooter.jpeg);
    background-size: 100% 100%;
    position: relative;
}

footer .fa {
    bottom: 3%;
    right: 3%;
    color: white;
    font-size: 50px;
    position: absolute;
}

footer img {
    bottom: 3%;
    left: 3%;
    position: absolute;
    width: 200px;
    height: 100px;
}

footer .footerCont {
    width: 100%;
    height: 100vh;
    position: relative;
}

.footerCont b {
    position: absolute;
    top: 42%;
    left: 43%;
    font-size: 30px;
    text-align: center;
}

.footerCont span {
    position: absolute;
    top: 48%;
    left: 45%;
    font-size: 30px;
    text-align: center;
}

.footerCont .footerBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 10vh;
    top: 57%;
    left: 35%;
    font-size: 35px;
    border-radius: 90px 0 90px 0;
    color: rgb(32, 81, 245);
    background: white;
    text-align: center;
}

/* Animations */

@keyframes textAnimation {
    0% {
        content: ' ';
    }
    2.7% {
        content: 'C';
    }
    5.4% {
        content: 'Co';
    }
    8.1% {
        content: 'Cod';
    }
    10.8% {
        content: 'Code';
    }
    13.5% {
        content: 'Cod';
    }
    16.2% {
        content: 'Co ';
    }
    18.9% {
        content: 'C';
    }
    21.6% {
        content: ' ';
    }
    24.3% {
        content: 'L';
    }
    27% {
        content: 'Le';
    }
    29.7% {
        content: 'Lea';
    }
    32.4% {
        content: 'Lear';
    }
    35.1% {
        content: 'Learn';
    }
    37.8% {
        content: 'Lear';
    }
    40.5% {
        content: 'Lea';
    }
    43.2% {
        content: 'Le';
    }
    45.9% {
        content: 'L';
    }
    48.6% {
        content: '';
    }
    51.3% {
        content: 'T';
    }
    54% {
        content: 'Tr';
    }
    56.7% {
        content: 'Tra';
    }
    59.4% {
        content: 'Tran';
    }
    62.1% {
        content: 'Trans';
    }
    64.8% {
        content: 'Transc';
    }
    67.5% {
        content: 'Transce';
    }
    70.2% {
        content: 'Transcen';
    }
    72.9% {
        content: 'Transcend';
    }
    75.6% {
        content: 'Transcen';
    }
    78.3% {
        content: 'Transce';
    }
    81% {
        content: 'Transc';
    }
    83.7% {
        content: 'Trans';
    }
    86.4% {
        content: 'Tran';
    }
    89.1% {
        content: 'Tra';
    }
    92% {
        content: 'Tr';
    }
    94.5% {
        content: 'T';
    }
    98% {
        content: '';
    }
    100% {
        content: '';
    }
}

@keyframes TeamSlider {
    0% {
        left: 0;
    }
    30% {
        left: 0;
    }
    35% {
        left: -100%;
    }
    65% {
        left: -100%;
    }
    70% {
        left: -200%;
    }
    95% {
        left: -200%;
    }
    100% {
        left: 0;
    }
}